<div ng-controller="PageEditCtrl">
  <div class="pull-right">
    <button class="btn btn-success" ng-click="save()"><i class="fa fa-check"></i> Save</button>
    <button class="btn btn-warning" ng-click="reset()"><i class="fa fa-undo"></i> Undo Edits</button>
    <button class="btn btn-danger" ui-sref="pages"><i class="fa fa-times"></i> Cancel</button>
  </div>
  
  <h2>Editing Page: {{page.title}}</h2>
  <label>Title</label>
  <input ng-model="page.title">
  <label>Body</label>
  <text-angular ng-model="page.body" ta-toolbar="[['h1','h2','h3'],['bold','italics','colourRed']]" ta-file-drop="dropHandler"></text-angular>
</div>